<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Music Manager</title>
  </head>
  <body>
    <header>
      <div class="links">
        <a href="" class="active">Produtores</a>
        <a href="">Artistas</a>
      </div>
    </header>
  </body>
</html>