<div class="form" id="producerForm">
  <div>Avatar URL</div>
  <div>
    <input 
      type="url"
      name="avatar_url"
      placeholder="http://"
      autocomplete="off"
      value="{{ producer.avatar_url }}"
    >
  </div>
</div>

<div class="form">
  <div>Produtor(a)</div>
  <div>
    <input 
      type="text"
      name="name"
      placeholder="Nome de Produtor(a)"
      value="{{ producer.name }}"
      autocomplete="off"
    >
  </div>
</div>

<div class="form">
  <div>Data de Nascimento</div>
  <div>
    <input 
      type="date"
      name="birth"
      value="{{ producer.birth }}"
    >
  </div>
</div>

<div class="form">
  <div>Área de Atuação</div>
  <div>
    <input 
      type="text"
      name="services"
      placeholder="Separe os serviços prestados por virgula"
      value="{{ producer.services }}"
      autocomplete="off"
    >
  </div>
</div>  

<div class="form">
  <div>Estilo Músical</div>
  <div>
    <input 
      type="text"
      name="musicalGenre"
      placeholder="Separe os gêneros músicais por virgula"
      value="{{ producer.musicalGenre }}"
      autocomplete="off"
    >
  </div>
</div>  

  <div class="form">
    <div>DAW</div>
    <div>
      <select name="daw">
        <option value="fl"{% if producer.daw == "fl"%}selected{% endif %}>
          FL Studio
        </option>
        <option value="ableton"{% if producer.daw == "ableton"%}selected{% endif %}>
          Ableton Live
        </option>
        <option value="protools"{% if producer.daw == "protools"%}selected{% endif %}>
          Pro Tools
        </option>
        <option value="logic"{% if producer.daw == "logic"%}selected{% endif %}>
          Logic Pro
        </option>
        <option value="reaper"{% if producer.daw == "reaper"%}selected{% endif %}>
          Reaper
        </option>
        <option value="studio"{% if producer.daw == "studio"%}selected{% endif %}>
          Studio One 3
        </option>
      </select>
    </div>
  </div>

<div class="form">
  <div>Sexo</div>
  <div>
    <span>
      <input 
        type="radio"
        name="gender"
        value="M"
        {% if producer.gender == "M"%}
        checked
        {% endif %}
      >
      Masculino
    </span>

    <span>
      <input 
        type="radio"
        name="gender"
        value="F"
        {% if producer.gender == "F"%}
        checked
        {% endif %}
      >
      Feminino
    </span>
  </div>

  <button class="btn"type="submit">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Salvar
  </button>
    
</div>



