{% extends 'layout.njk'%}}

{% block header %}
<link rel="stylesheet" href="/index.css">
<link rel="stylesheet" href="/animations.css">
{% endblock header %}

{% block content %}
  <div class="card table-container">
    <div class="new-link">
      <a href="/producers/create" class="new">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        novo
      </a>
    </div>
    <table width="100%">
      <thead>
        <tr>
          <th>Produtor</th>
          <th>Área de Atuação</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for producer in producers %}
        <tr>
          <td>
            <span style="background-image: url({{producer.avatar_url}})"></span>
            {{ producer.name }}
          </td>
          <td>{{ producer.services }}</td>
          <td>
            <a href="/producers/{{producer.id}}">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              VER
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}