{% extends 'layout.njk'%}}

{% block content %}
  <div class="content">
    <div class="card">
      <section class="avatar"
        style="background: url(https://source.unsplash.com/collection/403065/500x500) no-repeat center center / cover"
      >  
      </section>
      <section class="details">
        
        <h3>Detalhes</h3>

        <div class="item">
          <div>Produtor</div>
          <div>Daniel Felipe</div>
        </div>

        <div class="item">
          <div>Idade</div>
          <div>18</div>
        </div>

        <div class="item">
          <div>DAW</div>
          <div>Fl Studio</div>
        </div>

        <div class="item">
          <div>Área de Atuação</div>
          <span>Beatmaker</span>
          <span>Engenharia de Áudio</span>
        </div>

        <div class="item">
          <div>Estilo Músical</div>
          <span>Rap</span>
          <span>Trap</span>
          <span>Boombap</span>
          <span>R&B</span>
        </div>

        <div class="item">
          <div>Desde</div>
          <div>12/10/2019</div>
        </div>

        
        
      </section>
    </div>
  </div>
{% endblock %}