
.details .form {
  padding: 16px 0;
}

input, select {
  width: 100%;
  outline: none;
  border: none;
  background: none;
  color: rgb(241, 234, 234);
  font-weight: bold;
  font-size: 18px;
}

.details .form select {
  color: var(--green-color);
  background-color: black;
}

input[type="radio"] {
  width: initial;
  margin-right: 4px;
}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

.details .form input[type="date"] {
  color: var(--green-color);
}

.details #daw,
.details #created-at {
  color: var(--green-color);
}


input[type='radio']:after {
  cursor: pointer;
  transition: 0.5s;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #777;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: var(--green-color);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}


.details .item {
  color: #fff;
  border-bottom: 1px solid #777;
  padding: 16px 0;
}

.details .item:last-child {
  border: none;
}

.details h3,
.details .form div:nth-child(1),
.details .item div:nth-child(1) {
  font-size: 14px;
  line-height: 24px;
  color: #aaa;
  letter-spacing: 0.7px;
  font-weight: normal;
}

.details .item div:nth-child(2) {
  font-weight: bold;
  font-size: 16px;
}

.details h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
}

.form div span,
.details .item span {
  text-transform: uppercase;
  padding: 8px 16px;
  font-weight: bold;
  color: black;
  background-color: var(--secondary-color);
  border-radius: 16px;
  margin-right: 4px;
  margin-top: 8px;
  display: inline-block;
}

.details #musical-genre span {
  background-color: var(--primary-color);
}

.card .details a {
  margin-top: 25px;
}