@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

:root {
  --primary-color: #aa00ff;
}

html,body {
  font-family: 'Poppins', sans-serif;
  background: black;
}

header {
  width: 100%;
  padding: 32px;
  text-align: center;
  border-bottom: 1px solid var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color), 0 0 60px var(--primary-color);
}

.links {
  font-size: 22px;
}

.links a + a {
  margin-left: 32px;
}

.links a {
  position: relative;
  text-decoration: none;
  color: #fff;
}

.links a.active {
  font-weight: bold;
  color: var(--primary-color);
}

.links a:hover {
  color: var(--primary-color);
}

.links a:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -4px;
}

.links a:hover::after {
  width: 100%;
  transition: width 200ms ease-in-out;
}