{% extends 'layout.njk'%}}

{% block header %}
<link rel="stylesheet" href="/styles/index.css">
<link rel="stylesheet" href="/styles/animations.css">
{% endblock header %}

{% block content %}
  <div class="card table-container">
    <div class="new-link">
      <a href="/artists/create" class="new">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        novo
      </a>
    </div>
    <table width="100%">
      <thead>
        <tr>
          <th>Artista</th>
          <th>Estilo Músical</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for artist in artists %}
        <tr>
          <td>
            <span style="background-image: url({{artist.avatar_url}})"></span>
            {{ artist.name }}
          </td>
          <td>{{ artist.musicalGenre }}</td>
          <td>
            <a href="/artists/{{artist.id}}">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              VER
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}