{% extends 'layout.njk' %}

{% block header %}
<link rel="stylesheet" href="/styles/animations.css">
<link rel="stylesheet" href="/styles/forms.css">
{% endblock header %}

{% block content %}
    <div class="card">
      <section class="avatar"
        style="background: url({{ artist.avatar_url }}) no-repeat center center / cover"
      >  
      </section>
      <section class="details">
        
        <h3>Detalhes</h3>

        <div class="item">
          <div>Artista</div>
          <div>{{artist.name}}</div>
        </div>

        <div class="item">
          <div>Idade</div>
          <div>{{artist.age}}</div>
        </div>

        <div class="item" id="daw">
          <div>Tempo de Experiência</div>
          <div>{{artist.experience}}</div>
        </div>

        <div class="item" id="musical-genre">
          <div>Estilo Músical</div>
          {% for musicalGenre in artist.musicalGenre %}
          <span>{{musicalGenre}}</span>
          {% endfor %}
        </div>

        <div class="item">
          <div>Email</div>
          <div>{{artist.email}}</div>
        </div>

        <a href="/artists/{{ artist.id }}/edit">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Editar
        </a>        
      </section>

    </div>
{% endblock %}